/* html, body {
    height: 100%;
    width: 100%;
}

#main {
   
    
    z-index: 10;
}
@media only screen and (max-width: 600px) {
    #page1 video {
       
        margin-top: 5vw; 
        height: 50vh; 
        object-fit: contain; 
        object-position: top;
        border-radius: 10px; 
        width: 90%; 
        margin-left: 5%; 
        background-color: black;
    }
}


@media only screen and (min-width: 600px) {
    #page1 video {
        
        margin-top: 0vw;
        height: 100vh; 
        object-fit: cover;
        object-position: center; 
        
        width: 100%; 
        margin-left: 0%;
        background-color: black;
    }
}



@media only screen and (min-width: 768px) {
    #page1 video {
      
        margin-top: 0vw;
        height: 100vh;
        object-fit: cover; 
        object-position: center;
        border-radius: 15px; 
        width: 100%; 
        margin-left: 0%;
        background-color: black;
    }
}


@media only screen and (min-width: 992px) {
    #page1 video {
        
        margin-top: 1vw; 
        height: 85vh; 
        object-fit: cover; 
        object-position: center; 
        border-radius: 15px; 
        width: 100%; 
        margin-left: 0%; 
        background-color: black;
    }
}
@media (max-width: 700px) {
    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 2vw;
        height: 90vh;
        object-fit: cover;
        object-position: center;
        width: 100%;
        margin-left: 0%;
        background-color: black;
    }
}


@media only screen and (min-width: 1200px) {
    #page1 video {
        
        margin-top: 0; 
        height: 100vh; 
        object-fit: cover; 
        object-position: center; 
        border-radius: 0px;
        width: 100%; 
        margin-left: 0%; 
        
    }
}


@media only screen and (min-width: 1132px) {
    #page1 video {
        
        margin-top: 0; 
        height: 100vh; 
        object-fit: cover; 
        object-position: center; 
        border-radius: 0px; 
        width: 100%;
        margin-left: 0%; 
    }
}




#page1  video {
    height: 100vh;
    background-color: black;
} 
















#loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}









/* 






 */

















 .activities-main {
  display: flex;
  justify-content: space-around;
  width: 72%;
  flex-wrap: wrap;
  align-items: center;
  margin: 2px auto;
}

.second-box-main {
  display: flex;
  justify-content: space-around;
  width: 72%;
  margin: 2px auto;
  gap: 10px;
}

.box, .second_box {
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  width: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img, .second_box img {
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

.box:hover img, .second_box:hover img {
  transform: scale(0);
}

.box .content, .second_box .content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  transform: scale(0) rotate(-180deg);
  opacity: 0;
  transition: all 0.4s;
}

.box:hover .content, .second_box:hover .content {
  transform: scale(1) rotate(0deg);
  transition-delay: 0.2s;
  opacity: 1;
}

.second_box .content {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

.second_box:hover .content {
  opacity: 1;
  transform: translateY(0%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.second_box {
  margin: 10px auto;
  width: 50%;
}

.second_box img {
  width: 100%;
  height: auto;
}


@media only screen and (max-width: 600px) {
  .second-box-main, .activities-main {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .box, .second_box {
    width: 90%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .box, .second_box {
    width: 45%;
  }
}

@media only screen and (min-width: 769px) {
  .box, .second_box {
    width: 30%;
  }
}



@media only screen and (min-width: 605px) and (max-width: 765px) {

  .activities-main {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .second-box-main {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .box,
  .second_box {
    width: 90%;
    margin-bottom: 20px;
  }

  .box .content,
  .second_box .content {
    padding: 20px; 
  }

  .box img,
  .second_box img {
    width: 100%;
    height: auto;
  }
  

  .box .content h3,
  .box .content p,
  .second_box .content h3,
  .second_box .content p {
    text-align: center;
  }
} 