#app {
    height: 100%;
  }
  
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #000; */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit: cover;
    opacity: 70%;
  }
  
  .custom-swiper {
    margin: 100px auto;
    width: 380px;
    height: 600px;
    border-top-right-radius: 20%;
    z-index: 999px;
    /* background-color: #000; */
  }
  
  .custom-swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .custom-swiper {
      height: 200px;
      width: 380px;
    }
  }
  @media (max-width: 975px) {
    .custom-swiper {
      height: 400px;
      width: 320px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  