@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: 'PTSerif-Bold';
    src: url('../public/font/PTSerif-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .spin {
    animation: spin 40s linear infinite;
  }
  
  /* smooth scrolling */
  html {
    scroll-behavior: smooth;
  }
  
















  .blocks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.row {
    flex: 1;
    width: 100%;
    display: flex;

}

.block {
    position: relative;
    flex: 1;
    /* background: #986fab; */
    background: black;
    margin: -0.25px;
}

.transition-in .block {
    transform-origin: top;
}

.transition-out .block {
    transform-origin: bottom;
}